{% extends "plantilla.html" %}

{% block title %} Modo Lectura {% endblock %}

{% block content %} <h2>{{id}} Bienvenido {{nombre}} y estas en modo {{tipo}} </h2>

{% if Lector %}

<h2> Articulos Disponibles </h2>
<br>
    <lu>
        {% for p in articulos %}
            
                <h3>{{ p.titulo }}</h3>
               
                <h5>Autor: {{ p.autor.nombre }}</h5>
                <p>{{ p.contenido }}</p>
                <p>Fecha de Publicación: {{ p.fecha_publicacion }}</p>
            
        {% endfor %}
    </lu>
{% endif %}

{% if Autor%}
<br>
<h2> Tus Articulos </h2>
<br>
    <lu>
        {% for p in articulos %}
            
                <h3>{{ p.titulo }}</h3>
                <p>{{ p.contenido }}</p>
                <p>Fecha de Publicación: {{ p.fecha_publicacion }}</p>
            
        {% endfor %}
    </lu>

{%endif%}

{% endblock  %}