{% extends "plantilla.html" %}

{% block title %}Autor{% endblock title %}

{% block content %} 

<h2>Crear Lector</h2>
    <form method = "POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Crear Lector</button>

        {% if form.nombre.errors %}
            <ul class="errorlist">
                {% for error in form.nombre.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>

{% endblock content %}