{% extends "plantilla.html" %}
{% load static %}

{% block title %}Crear Lector{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Crear Lector</h2>

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            {% for error in form.nombre.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.edad.label_tag }}
            {{ form.edad }}
        </div>

        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        {% if form.direccion %}
        <div class="mb-3">
            {{ form.direccion.label_tag }}
            {{ form.direccion }}
        </div>
        {% endif %}

        {% if form.Nacionalidad %}
        <div class="mb-3">
            {{ form.Nacionalidad.label_tag }}
            {{ form.Nacionalidad }}
        </div>
        {% endif %}

        <div class="mb-3" display="flex">
            <label>Seleccioná un ícono:</label><br>
            {{ form.icono }}
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock content %}
