{% extends "plantilla.html" %}

{% block title %} Login {% endblock %}


{% block content %}
<div class="login-container" style="max-width: 400px; margin: auto;">
    <h2 class="text-center mb-4">Iniciar Sesión</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>

    {% if error %}
        <div class="alert alert-danger mt-3 text-center">
            {{ error }}
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <script>
            alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
